<% obj.each do |art| %>
  <div class="row"></div>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="article-title">
        <%= link_to art.title, article_path(art) %>
      </div>
      <div class="article-body">
        <%= truncate(art.description, length: 50) %>
      <div class="article-details">
        <p>Created by: <%= art.user.username if art.user%> ,
        <%= time_ago_in_words(art.updated_at)%> ago,
        last updated: <%= time_ago_in_words(art.updated_at)%> ago </p>
      </div>

      </div>
    <%if logged_in? && (current_user==art.user || current_user.admin?)%>
      <div class="row">
        <div class="col-ms-6">
          <%= link_to "Edit this article", edit_article_path(art), class: "btn btn-primary" %>
          <%= link_to "Delete this article", article_path(art), method: :delete, class: "btn btn-danger",
           data: {confirm: "are you sure ? "} %>
        </div>
      </div>
    <%end%>
    </div>
  </div>
<% end %>