<h2 align="center">Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <strong>Description: </strong>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="row">
    <div class="col-ms-6">
      <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-primary" %>
      <%= link_to "Back to articles", articles_path %>
      <%= link_to "Delete this article", article_path(@article), method: :delete, class: "btn btn-danger", data: {confirm: "are you sure ? "} %>
    </div>
  </div>
</div>